* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1500px !important;
  padding: 0 !important;
  margin: auto;
  position: relative;
}

/* navbar */
.nav_bg {
  width: 100%;
  position: absolute;
  z-index: -1;
}
.menu {
  display: none;
}
.logo img {
  width: 125px;
}
.navbar {
  height: 53px;
  display: flex;
  justify-content: space-around !important;
  align-items: center;
}
.nav_list {
  display: flex;
  list-style-type: none;
  gap: 24px;
  font-size: 10px;
  color: var(--blue-color);
}
.nav_list li:last-child {
  color: var(--orange-color);
}
.nav_list li {
  cursor: pointer;
  position: relative;
}
.nav_list li::before {
  content: " ";
  position: absolute;
  width: 0%;
  top: 14px;
  height: 3px;
  background-color: var(--orange-color);
  transition: 0.3s;
}

a {
  text-decoration: none !important;
  color: var(--blue-color) !important;
}

.nav_list li:hover::before {
  width: 100%;
}
/* hero */
.hero {
  height: 530px;
  position: relative;
}
.hero_bg {
  width: 100%;
  position: absolute;
  top: -17px;
  z-index: -2;
}
.hero_down {
  position: absolute;
  width: 100%;
  bottom: 0;
  z-index: -1;
}
.hero_start {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 420px;
}
.hero_left {
  width: 35%;
  color: white;
}
.hero_right {
  width: 35%;
}
.hero_right img {
  width: 80%;
}
.hero_left button {
  color: white;
  background-color: #f9572b;
  padding: 5px 30px;
  margin: 30px 0;
  border-radius: 4px;
  border: #f9572b 1px solid;
}
.hero_left p {
  margin-top: 8px;
  color: white;
}
.connect_icon {
  width: 39px;
  height: 39px;
  background-color: var(--orange-color);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.connect_item {
  display: flex;
  gap: 20px;
}
.hero_end {
  display: flex;
  justify-content: center;
  color: #1a4d70;
  font-size: 10px;
  gap: 50px;
}
.connect_icon img {
  width: 55%;
}
.connect_icon img {
  width: 55%;
}
.about {
  background-color: var(--gray-color);
  width: 100%;
  height: 900px;
  color: var(--blue-color);
  display: flex;
  justify-content: flex-end;
  gap: 100px;
  align-items: center;
}
.about_left {
  display: flex;
  flex-direction: column;
  width: 35%;
}
hr {
  width: 100px;
  height: 3px;
  background-color: var(--orange-color) !important;
  border: none !important;
  margin: 32px 0 !important;
  opacity: 1 !important;
}
.numbers {
  display: flex;
  margin-top: 40px;
  gap: 30px;
}

.about_right {
  width: 50%;
}
.about_right img {
  width: 100%;
}
.tools {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--blue-color);
  margin-top: 40px;
}
.bumps {
  background-color: var(--gray-color);
  width: 90%;
}
.bumps_list {
  width: 80%;
  margin: auto;
  height: 50px;
  display: flex;
  list-style-type: none;
  /* gap: 50px; */
  justify-content: center;
}
.bumps_list li {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 0 20px;
  transition: 0.3s;
}
.bumps_list li:hover {
  background-color: var(--orange-color);
  color: white;
}
.tools_left {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.tools_right {
  width: 600px;
}

.tools_end {
  display: flex;
  justify-content: space-between;
}
.carousel-item {
  width: 500px !important;
  /* height: 500px !important; */
}

.carousel-control-prev-icon {
  background-image: url(../images/Slider-big-left.png) !important;
  height: 65px !important;
  width: 65px !important;
}

.carousel-control-next-icon {
  background-image: url(../images/Slider-big-right.png) !important;
  height: 65px !important;
  width: 65px !important;
  border-radius: 50%;
}

.active {
  background-color: #f9572b !important;
}

.carousel {
  /* height: 380px !important; */
  height: 500px !important;
  width: 100% !important;
}

.carousel-control-prev {
  left: -109px !important;
}

.carousel-control-next {
  right: 25px !important;
}

#ind {
  background-color: rgb(78, 77, 77);
}
.customers {
  display: flex;
  flex-direction: column;
  align-items:
  center;
  margin-top: 40px;
}
.cust_list {
  display: flex;
  justify-content: space-around;
  width: 100%;
  list-style-type: none;
  align-items: center;
}
.objects {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--blue-color);
  margin-top: 100px;
}
footer {
  background-color: #1a4d70;
  color: white;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100px;
  font-size: 20px;
}


@media all and (max-width: 375px) {
  .nav_list {
    display: none;
    flex-direction: column;
    width: fit-content;
  }

  .hero {
    height: 820px;
  }
  .hero_bg {
    height: 530px;
    object-fit: cover;
  }
  .hero_start {
    flex-direction: column-reverse;
    height: 480px;
    justify-content: end;
  }
  .about {
    height: fit-content;
    padding: 20px 0px;
    flex-direction: column;
  }
  .about_left {
    width: 90%;
  }
  .about_right {
    width: 90%;
  }
  .hero_down {
    bottom: 306px;
  }
  .hero_end {
    margin: auto;
    margin-top: 70px;
    align-items: flex-start;
    flex-direction: column;
    width: 300px;
  }
  .hero_left {
    width: 65%;
  }
  .hero_left button {
    width: 100%;
  }
  .hero_right {
    width: 80%;
  }
  .nav_bg {
    height: 100px;
    object-fit: contain;
  }
  .menu {
    display: block;
  }
  .numbers {
    flex-direction: column;
    align-items: center;
  }
  .number_item {
    display: flex;
    flex-direction: column;
    width: 60%;
  }
  .hidden {
    display: none !important;
  }
  .tools_end {
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    width: 200%;
  }
  .tools_right {
    width: 90%;
  }
  .carousel {
    height: 295px !important;
  }

  .carousel-item {
    width: 50% !important;
    margin-left: 250px;
    margin-top: 30px;
  }
  .carousel-control-prev {
    left: 170px !important;
  }

  .carousel-indicators {
    bottom: -60px;
    left: 150px;
  }
}

